table.AppTable {
  border-collapse: collapse;
  box-shadow: 0 3px 6px rgba(#000, 0.1);
  width: 100%;

  thead {
    background-color: #09f;

    tr th {
      color: rgba(#fff, 0.8);
      font-size: 0.8em;
      font-weight: 700;
      letter-spacing: 0.75px;
      padding: 7px 10px;
      text-align: left;
      text-transform: uppercase;

      &.right {
        text-align: right;
      }
    }
  }

  tbody {
    tr {
      &:hover {
        background-color: rgba(#000, 0.05);
      }
      td {
        color: #222;
        padding: 7px 10px;

        &.right {
          text-align: right;
        }
      }
    }
  }

  .actions {
    > *:not(:last-child) {
      margin-right: 5px;
    }
  }
}
