header.AppHeader {
  align-items: center;
  background-color: #09f;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  color: #fff;
  display: flex;
  height: 50px;
  justify-content: center;
  padding: 10px;

  h1 {
    font-size: 1.2em;
  }
}
